In [36]:
import pandas as pd
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pprint


pp = pprint.PrettyPrinter()

stream = ""
with open("acc_output.txt", "r") as file:
	for line in file:
		if "./" not in line:
			stream += line
		else:
			temp = line.split("./")
			stream += (temp[0] + "\n" + "./" + temp[1])


stream = stream.split("\n")[1:]
# pp.pprint(stream)
row_list = []
sample_expanded_per_s = []
current_row = {}
sample_scores = []
counter = 0
for elem in stream:
	if "./" in elem:
		elem = elem.split()
		current_row['level'] = elem[1]
		current_row['propagation'] = elem[3]
		current_row['budget'] = elem[-1]
		# row_list.append(current_row)
	if "Expanded/" in elem:
		elem = elem.split()
		sample_expanded_per_s.append(elem[-1])
	if "Time" in elem:
		elem = elem.split()[-1]
		current_row['total_execution_time'] = float(elem[:-1])
	if "Score" in elem:
		if(counter < 3):
			elem = elem.split()
			sample_scores.append(int(elem[-1]))
			counter+=1
		if (counter==3):
			counter = 0
			current_row['samples'] = np.array(sample_scores)
			row_list.append(current_row)
			current_row = {}
			sample_scores = []

temp = []
counter = 0
while(counter<=69):
	temp.append(sample_expanded_per_s[counter:counter+3])
	counter+=3

temp2 = []
for each in temp:
	temp2.append(np.array(list(map(float, each))))


df = pd.DataFrame(row_list)
df['sample_expanded_per_s'] = temp2

##########################################
sample_scores = df.samples.values
# print(sample_scores)
averages = []
std_dev = []
for i in sample_scores:
	averages.append(np.mean(i))
	std_dev.append(np.std(i))

df['average_sample_score'] = averages
df['std_dev_score'] = std_dev
############################################
sample_scores = df.sample_expanded_per_s.values
averages = []
std_dev = []
for i in sample_scores:
	averages.append(np.mean(i))
	std_dev.append(np.std(i))

df['average_expanded_per_s'] = averages
df['std_dev_expanded/s'] = std_dev

del df['samples']
del df['sample_expanded_per_s']
# df.columns = ['Budget', 'Level', 'PropagationType', 'ExecutionTime', 'AverageScore', 'StDev(Score)', 'AverageExpandedNodes/sec', 'StDev(ExpandedNodes/sec)']
df

   budget level propagation  total_execution_time  average_sample_score  std_dev_score  average_expanded_per_s  std_dev_expanded/s
0      10     1         max                 63.63            205.666667      58.976455               59.402703            0.328560
1     100     1         max                141.91            505.000000     127.898397              812.419593          310.440298
2    1000     1         max                142.49            332.666667      67.726574             5959.123742           21.247445
3    2000     1         max                 92.96            457.666667     260.256711            13557.616493         5125.261854
4      10     1         avg                186.63            229.000000      34.185767               59.674429            0.033124
5     100     1         avg                185.09            235.000000       8.041559              594.820110            5.012821
6    1000     1         avg                127.55            384.333333      82.794256             5913.026147           18.665108
7    2000     1         avg                131.72            464.333333     230.845307            17217.552443        10309.028813
8      10     2         max                130.28            508.000000     284.313208               73.930619           20.764278
9     100     2         max                106.26            369.000000      47.377913              590.902508            3.440907
10   1000     2         max                 84.35            625.666667     194.602729             8257.131792         3344.226795
11   2000     2         max                181.37            894.666667     526.554418            14773.900224         6878.957821
12     10     2         avg                 97.40            391.333333     110.927404               59.559096            0.171459
13    100     2         avg                 41.99            670.000000     176.081421             1412.812993          878.176093
14   1000     2         avg                103.30            485.666667     139.270321             5914.611763           37.708652
15   2000     2         avg                206.51            391.000000     119.132979             9900.546750           66.840975
16     10     3         max                133.41            332.000000      65.863495               59.771728            0.079278
17    100     3         max                206.05            628.333333     165.449556              859.154585          374.303963
18   1000     3         max                 85.24            623.000000      92.361608             8533.246616         3678.823024
19   2000     3         max                184.19            817.000000      29.709707            22043.209441         6777.419479
20     10     3         avg                133.58            375.000000       4.898979               59.678614            0.070242
21    100     3         avg                100.46            429.000000      61.973112              596.364354            0.494692
22   1000     3         avg                142.68            475.000000      78.042723             5966.909726            3.335985
23   2000     3         avg                828.37            619.000000     238.312120            10882.866789         1268.099562

In [43]:
df.groupby(['budget', 'propagation']).agg({'total_execution_time': ['mean', 'std']})

                   total_execution_time
                                   mean         std
budget propagation
10     avg                   139.203333   44.880003
       max                   109.106667   39.415031
100    avg                   109.180000   71.947420
       max                   151.406667   50.568281
1000   avg                   124.510000   19.865228
       max                   104.026667   33.313196
2000   avg                   388.866667  382.453619
       max                   152.840000   51.876766

In [46]:
df.groupby(['budget', 'propagation']).agg({'average_expanded_per_s': ['mean', 'std']})

                         average_expanded_per_s
                                           mean std
budget propagation level
10     avg         1                  59.674429 NaN
                   2                  59.559096 NaN
                   3                  59.678614 NaN
       max         1                  59.402703 NaN
                   2                  73.930619 NaN
                   3                  59.771728 NaN
100    avg         1                 594.820110 NaN
                   2                1412.812993 NaN
                   3                 596.364354 NaN
       max         1                 812.419593 NaN
                   2                 590.902508 NaN
                   3                 859.154585 NaN
1000   avg         1                5913.026147 NaN
                   2                5914.611763 NaN
                   3                5966.909726 NaN
       max         1                5959.123742 NaN
                   2                8257.131792 NaN
                   3                8533.246616 NaN
2000   avg         1               17217.552443 NaN
                   2                9900.546750 NaN
                   3               10882.866789 NaN
       max         1               13557.616493 NaN
                   2               14773.900224 NaN
                   3               22043.209441 NaN

In [45]:
df.groupby(['budget', 'propagation']).agg({'average_sample_score': ['mean', 'std']})

                   average_sample_score
                                   mean         std
budget propagation
10     avg                   331.777778   89.382035
       max                   348.555556  151.845072
100    avg                   444.666667  217.922769
       max                   500.777778  129.718213
1000   avg                   448.333333   55.681635
       max                   527.111111  168.399107
2000   avg                   491.444444  116.392694
       max                   723.111111  233.138570